/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}

img{
	width:100%;
	height:auto;
	object-fit:cover;
}

.Explore-button{
	padding:0px 30px;
	background-color:red;
	color:white;
	text-decoration:none;
	border-radius:0%;
}